# Q.1  Converting an Integer into Decimals ?

In [1]:
# Q.1  Converting an Integer into Decimals ?
 
x = 12345
y = x / 100  # for one decimal point divide x by 10
print('Converting value from Integer to Decimals :- ', y)

Converting value from Integer to Decimals :-  123.45

# Q.2  Converting an String of Integers into Decimals ?

In [3]:
string = input('Enter Number to convert String of Integers into Decimals :- ')

number = int(string)

decimal = number / 10

print(decimal)

Enter Number to convert String of Integers into Decimals :- 7586
758.6

# Q.3  Reversing a string using an Extended Slicing Technique ?

In [4]:
user_input = input('Enter string data to show results in reverse format :- ')
reverse = user_input[::-1]
print("Results :- ",reverse)

Enter string data to show results in reverse format :- PYTHON
Results :-  NOHTYP

# Q.4  Counting the number of occurances of a character in a string ?

In [5]:
name = input("Check count of occurances of a character in a string :- ")
char = input("Enter character for occurances :- ")
count = 0
for i in name:
    if i == char :
        count = count + 1
print("Occurances of "+char+" is",count)

Check count of occurances of a character in a string :- ball
Enter character for occurances :- l
Occurances of l is 2

# Q.5  Find the maximum and minimum number in a list ?

In [6]:
# using max() and min() function

List = []
size = int(input("Enter size of list :- "))
for i in range (size):
    n = int(input("Enter Numbers :- "))
    List.append(n)
    
print('List =',List)

max_nu = max(List)
min_nu = min(List)

print("Maximum number in a given list is ",max_nu)
print("Minimum number in a given list is ",min_nu)

Enter size of list :- 5
Enter Numbers :- 45
Enter Numbers :- 68
Enter Numbers :- 75
Enter Numbers :- 92
Enter Numbers :- 56
List = [45, 68, 75, 92, 56]
Maximum number in a given list is  92
Minimum number in a given list is  45

# Q.6  Find the middle element in a list ? 
`

In [7]:
l = [1,2,3,4,5,6]
length = len(l)

if length%2 == 0:
    mid_index_1 = length//2-1
    mid_element_1 = l[mid_index_1]
    mid_index_2 = length//2
    mid_element_2 = l[mid_index_2]
    print("Middle Elements :- ",mid_element_1,mid_element_2)
else:
    mid_index = length//2
    mid_element = l[mid_index]
    print("Middle Elements :- ",mid_element)

Middle Elements :-  3 4

# Q.7  Converting a list into a string ?

In [8]:
# Using join() function

cource = ["Data"," ","Analyst"," ","&"," ","Data"," ","Scientist"]
out_put = ''.join(cource)
out_put

'Data Analyst & Data Scientist'

# Q.8  Adding two list elements together ?

In [9]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]

add = (lst1 + lst2)

total_sum = sum(lst1 + lst2)

print('Add List',add)
print('Sum',total_sum)

Add List [1, 2, 3, 4, 5, 6, 7, 8]
Sum 36

In [10]:
import numpy as np

ar1 = np.array(lst1)
ar2 = np.array(lst2)

final = ar1 + ar2
final

Add_list = final.tolist()
Add_list

[6, 8, 10, 12]